<html>
  <head>
    <meta charset="utf-8">
    <title>Hahmogeneraattori</title>
    <h2>Hahmogeneraattori</h2>
  </head>
  <body>
    <script type="text/javascript" src="character-generator/js/generator.js"></script>
    <script type="text/javascript" src="character-generator/js/cairn_data.js"></script>
    <div class="chargen">
      <h3>Ulkonäkö</h3>
      <span id="character"></span> Olet <span id="age"></span>-vuotias.
      <h3>Kykyarvot</h3>
        <b>HP: </b>&nbsp;<span id="hp"></span><br>
        <b>Panssari: </b>&nbsp;<span id="armorTotal"></span><br>
        <b>STR: </b>&nbsp;<span id="str"></span><br>
        <b>DEX: </b>&nbsp;<span id="dex"></span><br>
        <b>WIL: </b>&nbsp;<span id="wil"></span><br>
      <h3>Varusteet</h3>
        <b>Haarniska: </b>&nbsp;<span id="armor" ></span><span id="helmet"></span><br>
        <b>Ase: </b>&nbsp;<span id="weapons"></span><br>
        <b>Välineet, työkalut ja rihkamat: </b>&nbsp;<span id="tool"></span>, <span id="gear"></span> ja <span id="trinket"></span><br>
        <b>Bonustavara: </b>&nbsp;<span id="bonus"></span><br>
        <b>Aloitusvarusteet: </b>&nbsp;<span id="gold"></span> kultarahaa, soihtu ja kolmen päivän muonat<br>
        <b>Varusteluettelo: </b>&nbsp; käytetään <span id="total"></span> paikkaa kymmenestä<br>
        <script type="text/javascript" src="character-generator/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="character-generator/js/main.js"></script>
      <h3>Huomaa</h3>
      <li>Jos esine "pinoutuu", se käyttää samaa paikkaa kuin jokin toinen esine!</li>
      <li>Jos varusteluettelosi on täynnä, HP-arvosi laskee nollaan.</li>
    </div>
  </body>
<br><br>
<a href="javascript:window.scrollTo(0,0); window.location.reload(true)">Lataa tämä sivu uudelleen</a> luodaksesi uusi hahmo.
<br>Perustuu alkuperäiseen <a href="https://nakade.itch.io">Nakaden</a> tekemään Cairn-generaattoriin.
<br>Tukeutuu huikeisiin <a href="https://donjon.bin.sh/code/random">donjonin generaattoreihin</a>.
</html>
